<div class="container-fluid py-3">
  <h2>スケジュールの編集</h2>
  
  <%= form_with(model: @schedule) do |form| %>
    <%= render 'shared/form', form: form %>
    <ul class="pt-3">
      <li>
        <%= form.submit "スケジュールの編集を完了する" %>
      </li>
      <li>
        <%= link_to 'スケジュール一覧に戻る', schedules_path %>
      </li>
    </ul>
  <% end %>
</div>