    header, footer {
        background-color: #C52F24;
        color: #FFFFFF;
      .container-fluid {
        h1 {
            margin: 36.44px 0;
            font-size: 32px;
            font-weight: bold; 
        }
      }
    }