    header,footer {
        height: 110.88px;
        background-color: #C52F24;
        color: #FFFFFF;
      .container-fluid {
        h1 {
            padding: 21.44px 0;
            font-size: 32px;
            font-weight: bold; 
        }
      }
    }