main {
    height: auto;
    .container-fluid {
        .alert {
            text-align: center;
            border: 2px solid #ec7592;
            background-color: #ec98ac8f;  
        }
        .info {
            text-align: center;
            border: 2px solid #5cd075;
            background-color:#98ecaa7a;
        }
        
        h2 {
            font-size: 24px;
            font-weight: bold; 
        }
        
        table {
            tr {
                th, td {
                    border: solid 1px;
                    text-align: center;
                    height: 45px;
                }
            }
        }
        
        .schedules-list {
            thead { background-color: #FFDFDF; }
            tbody { background-color: #F1C8C861; }
        }
        
        .schedule-detail, 
        .schedule-form {
            tr {
                th { background-color: #FFDFDF; }
                td { 
                    background-color: #F1C8C861; 
                    .memo {
                        height: 230px;
                    }
                }
            }
        }
        
        ul {
            li { list-style: none; }
        }
    }   
}